@keyframes imageHoverAnimation {
    0% { filter: saturate(1); }
    50% { filter: saturate(3); }
    100% { filter: saturate(1); }
}
/*Background video
*/
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.h2_class {
    color: white;
    font-family: Rowdies, sans-serif;
    margin: 5px auto;
    text-align: center;
}
h5 {
    color: black;
    font-family: AudioWide, sans-serif;
}

/* parrafos
*/
.description_p_class{
    color: white;
}
/* Cards
*/
.card{
    margin:5px auto;
}

.card-img-top {
    animation: none;
}
.card-img-top:hover {
    animation: imageHoverAnimation 4s infinite ease-in-out;
}

.card-body p{
    font-family: Outfit, serif;
}
.card-text{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}